.rightGrid {
    height: 100%;
    overflow: hidden;
}

.rightInsBox {
    margin-left: 0%;
    /* background-color: #434866; */
    height: 60%;
    width: 100%;
}

.rightinfoBox {
    margin-left: 10%;
    bottom: 50px;
    position: absolute;
    /* background-color: #434866; */
    height: 15%;
    width: 80%;
}

.textCenter {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.textBoxFormat {
    width: 88%;
    margin: 30px auto 0px;
    padding: 10px;
    color: white;
    font-size: 15px;
    text-align: center;
    min-height: 50%;
    /*background-color: blueviolet;*/
    border: medium solid #dddddd;
}

.textBoxFormat i {
    
    color: #fff259;
}

.redColor {
    color: rgb(221, 144, 120)
}